<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="nama"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Pasien List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let pasien of pasiens; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePasien(pasien, i)"
      >
        {{ pasien.nama }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPasiens()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentPasien">
      <h4>Tutorial</h4>
      <div>
        <label><strong>Nama:</strong></label> {{ currentPasien.nama }}
      </div>
      <div>
        <label><strong>HP:</strong></label>
        {{ currentPasien.hp }}
      </div>
      <div>
        <label><strong>Alamat:</strong></label>
        {{ currentPasien.alamat }}
      </div>

      <a class="badge badge-warning" routerLink="/pasiens/{{ currentPasien.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentPasien">
      <br />
      <p>Please click on a Pasien...</p>
    </div>
  </div>
</div>
